<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
	<add key="globalPackagesFolder" value=".\packages" />
  </config>
  <packageSources>
    <clear />
    
    <add key="Internal epi nuget feed" value="http://nuget.ep.se/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="GitHubEPiServer" value="https://api.nuget.optimizely.com/v3/index.json" />-->
    <add key="GitHubEPiServer" value="https://nuget.pkg.github.com/episerver/index.json" />
    <add key="epi nuget" value="https://api.nuget.optimizely.com/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHubEPiServer>
      <add key="Username" value="ted.lundquist@episerver.com" />
      <add key="ClearTextPassword" value="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" />
    </GitHubEPiServer>
  </packageSourceCredentials>
</configuration>
