name: Intergration Test

on:
  workflow_call:
    secrets:
      GATEWAYADDRESS:
        required : true
      APPKEY:
        required : true
      SECRET:
        required : true
      SINGLEKEY:
        required : true
env:
  acrName: "episerver"

jobs:
  intergration_test:
    name: Intergrations Test
    runs-on: windows-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3

      - name: Setup test environment
        if: success()
        uses: ./.github/actions/setup

      - name: Replace settings variables
        if: success()
        uses: microsoft/variable-substitution@v1
        with:
          files: 'APIs/src/Testing/EPiServer.ContentGraph.IntegrationTests/appsettings.json'
        env:
          Optimizely.ContentGraph.GatewayAddress: ${{ secrets.GATEWAYADDRESS }}
          Optimizely.ContentGraph.AppKey: ${{ secrets.APPKEY }}
          Optimizely.ContentGraph.Secret: ${{ secrets.SECRET }}
          Optimizely.ContentGraph.SingleKey: ${{ secrets.SINGLEKEY }}

      - name: Build and run tests
        if: success()
        run: msbuild\intergrationTest.ps1 -configuration "Release" -verbosity "normal"

      - name: Show test result
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: IT-TestResult
          path: TestResults/*.trx
          reporter: dotnet-trx